.Body {
  background-color: rgb(76, 95, 102);
  width: 384px;
  height: 352px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.BodyBox {
  width: 364px;
  height: 332px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
