.Calculator {
  /* border: rgb(5, 46, 5) 3px solid; */
  /* border-radius: 10px; */
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  /* background-color: gray; */
  height: 512px;
  width: 384px;
}
